*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 650px;
    height: 250px;
    background: #fff;
    box-shadow: 2px 2px 60px  rgb(86, 170, 90);
    padding: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    
}
.card-content {
    display: flex;
}

.card .card-img {
    width: 30%;
    height: 100%;
    overflow: hidden;

}

.card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: center;
}

.card-text {
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.card-text h4 {
    font-weight: 300;
    margin-top: 15px;  
}